.auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90vw;
	height: 12rem;
	margin-top: 2rem;
	background-image: url("../assets/paper.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	&__button {
		cursor: pointer;
		background: none;
		color: #f1f2ed;
		border: none;
		font-size: 1em;
		font-family: "Montserrat", sans-serif;
		color: rgb(59, 56, 56);

		&-google {
			font-weight: bold;
		}
	}
}

@media only screen and (min-width: 320px) {
	.auth {
		height: 14rem;
	}
}
@media only screen and (min-width: 375px) {
	.auth {
		height: 16rem;
	}
}
@media only screen and (min-width: 414px) {
	.auth {
		height: 17rem;

		&__button {
			font-size: 1.2em;
		}
	}
}

@media only screen and (min-width: 500px) {
	.auth {
		height: 25rem;

		&__button {
			font-size: 1.2em;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.auth {
		&__button {
			font-size: 1.8em;
		}
	}
}

@media only screen and (min-width: 1400px) {
	.auth {
		&__button {
			font-size: 1.5em;
		}
	}
}
