.auth-email {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

input {
	font-size: 0.9em;
	background: none;
	border: none;
	padding: 0.3em;
	margin: 0.35rem;
	box-shadow: 0px 0px 5px grey;
	color: grey;

	@media (min-width: 414px) {
		margin: 0.5rem;
		font-size: 1.2em;
	}
}

.emailBtn {
	cursor: pointer;
	font-size: 1.1em;
	padding: 0.2em;
	margin: 0.35rem;
	background: transparent;
	font-weight: bold;
	color: #c81d25;
	border: none;

	@media (min-width: 414px) {
		font-size: 1.3em;
	}
}

p {
	margin-top: 2rem;
	color: grey;
	text-align: center;

	@media (min-width: 375px) {
		margin-top: 4rem;
	}

	@media (min-width: 768px) {
		margin-top: 2rem;
		color: grey;
	}
}

.auth-google {
	border-top: 1px solid grey;
	margin-top: 0.5rem;

	@media (min-width: 768px) {
		border-top: 1px solid grey;
	}
}

.googleBtn {
	cursor: pointer;

	font-size: 1.1em;
	padding: 0.2em;
	margin: 0.35rem;
	background: transparent;
	font-weight: bold;
	color: grey;
	border: none;
	text-align: center;
	width: 100%;

	@media (min-width: 768px) {
		color: grey;
	}
}
