.book {
	margin-bottom: 1rem;
	color: #ffffffcc;

	&__title {
		font-size: 1em;
	}

	&__author {
		font-size: 0.8em;
		padding: 0.7em;
	}

	&__controls {
		color: #fff;
		display: flex;
		justify-content: center;
		gap: 1em;
		font-size: 0.9em;

		&__icon {
			cursor: pointer;
		}
	}

	.updateBook__container {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		position: fixed;
		top: 0;
		left: 0;

		.updateBook {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 25rem;
			padding: 1.5em;
			border-radius: 1em;
			text-align: center;
			color: #333;
			background-color: rgba(#d0d8cecc, 1);

			&__input {
				text-align: center;
				padding: 0.5em;
				margin: 0.5rem;
				border-radius: 1em;
				border: none;
			}

			&__button {
				cursor: pointer;
				background: none;
				border: none;
				font-weight: bold;
				color: rgb(40, 150, 30);
				font-size: 1em;
				margin: 0.5rem auto;
				display: block;

				&__submit {
					cursor: pointer;
					font-weight: bold;
					color: #d0d8cecc;
					font-size: 1em;
					margin: 0.5rem;
					margin: 0 auto;
					background-color: #333;
					padding: 0.5em 1em;
					border-radius: 1em;
					margin-top: 1rem;
					border: none;
				}
			}
		}
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}
}

