.libraryContainer {
	width: 100vw;
	height: auto;

	.library {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		color: #fff;

		.bookshelf {
			width: 90%;
			margin: 0 auto;
			text-align: center;

			&__books {
				height: auto;
				display: flex;
				align-items: flex-end;
				justify-content: center;

			}

			&__shelf {
				background-color: rgb(41, 26, 9);
				width: 100%;
				height: 0.7rem;
				border-bottom-left-radius: 1em;
				border-bottom-right-radius: 1em;
			}

			&__shelf__title {
				background-color: #eae2e2;
				color: black;
				display: inline-block;
				padding: 0.4em 0.8em;
				border-radius: 1em;
				font-size: 0.7em;
			}
		}

		&__books {
			display: grid;
			grid-template-columns: 1fr;
			width: 90%;
			text-align: center;
			margin-top: 1rem;

			&-hello {
				color: rgb(79, 150, 59);
				margin-bottom: 1.5rem;
				font-size: 2em;
			}
		}
	}
}

@media only screen and (min-width: 375px) {
	.libraryContainer {
		.library {
			&__books {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}

@media only screen and (min-width: 550px) {
	.libraryContainer {
		.library {
			&__books {
				grid-template-columns: repeat(3, 1fr);
			}


		}
	}
}
@media only screen and (min-width: 768px) {
	.libraryContainer {
	min-height: 100vh;

	.library {
		&__books {
				margin-top: 5rem;
			}

		.bookshelf {
		&__shelf {
				&__title {
					font-size: 1em;
				}
			}
		}
	}
}
}
@media only screen and (min-width: 1024px) {
	.libraryContainer {
		.library {
			&__books {
				grid-template-columns: repeat(6, 1fr);
			}
		}
	}
}
