.libraryContainer {
	width: 100vw;
	height: 100vh;

	.library {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		color: #fff;

		&__books {
			display: grid;
			grid-template-columns: 1fr;
			width: 90%;
			text-align: center;

			&-hello {
				color: yellow;
				margin-bottom: 1.5rem;
				font-size: 2em;
			}
		}
	}
}

@media only screen and (min-width: 375px) {
	.libraryContainer {
		.library {
			&__books {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}

@media only screen and (min-width: 550px) {
	.libraryContainer {
		.library {
			&__books {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
@media only screen and (min-width: 1024px) {
	.libraryContainer {
		.library {
			&__books {
				grid-template-columns: repeat(6, 1fr);
			}
		}
	}
}
