.navbar {
	position: fixed;
	width: 100%;
	height: auto;
	padding: 2em;

	.navbarContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.navbar__logo h1 {
			margin: 0;
			font-size: 1.5em;
			font-weight: 700;
			color: #ffffffcc;
		}

		.navbar__burger {
			font-size: 1.5em;
			color: #ffffffcc;
			cursor: pointer;
		}

		.navbar__menu {
			position: fixed;
			top: 4em;
			right: 0;
			width: 0;
			height: 21%;
			background-color: rgba(#d0d8cecc, 1.0);
			overflow: hidden;
			transition: width 0.3s ease-in-out;
			border-bottom-left-radius: 1em;
			border-top-left-radius: 1em;

			.navbar__menu__item {
				display: flex;
				padding: 1em;
				font-size: 1em;
				color: #333;
				cursor: pointer;
				border-bottom: 1px solid #fff;

				.navbar__menu__item svg {
					margin-right: 2rem;
				}
			}

			.navbar__menu__item:last-of-type {
				border: none;
			}
		}

		.navbar__menu.show {
			width: 5rem;
		}

		.navbar__links {
			display: none;
		}
	}
}



@media only screen and (min-width: 320px) {
	.navbar {
		.navbarContainer {
			.navbar__burger {
				font-size: 2.5em;
			}
			.navbar__menu {
				margin-top: 1.3em;
				height: 25%;
			}
		}
	}
}

@media only screen and (min-width: 375px) {
	.navbar {
		.navbarContainer {
			.navbar__menu {
				height: 21%;
			}
		}
	}
}

@media only screen and (min-width: 414px) {
	.navbar {
		.navbarContainer {
			.navbar__menu {
				height: 19%;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.navbar {
		.navbarContainer {
			.navbar__burger,
			.navbar__menu {
				display: none;
			}

			.navbar__links {
				display: flex;
				text-align: center;

				.navbar__links__item {
					cursor: pointer;
					padding: 1em;
					font-size: 1.2em;
					color: #ffffffcc;

					.navbar__links__title {
						padding: 1em;
					}
				}
			}
		}
	}
}
